html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
  Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.codepan-logo{
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.about__project{
  height: 44px;
  margin-left: 5px;
}

.pen {
  background: #1e1f26;
  height: 65px;
  padding: 10px 5px;
}

.project__name{
  font-size: 19.5px;
  color: #fff;
}

.pen__author{
  color: #9b9dad;
  font-size: 13.5px;
}

.button--dirty{
  background-color: #444857;
  color: #ffffff;
  padding: 10px 8px;
  border-radius: 4px;
  border: 3px solid #444857;
  height: 44px;
  margin-right: 6px;
  vertical-align: middle;
  font-size: 14px;
}

.avatar{
  border-radius: 4px;
}

.icon-header {
  color: #adafbc;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}

.fa-pencil {
  color: #fff;
  margin-left: 5px;
}

.fa-wheel{
  color: #fff;
  width: 10px;
  height: 10px;
}

.fa-arrow-down{
  color: #fff;
}

.editor__header{
  background-color: #1A1C20;
  padding: 5px 5px;
}

.editor__settings{
  background-color: #444857;
  width: 26px;
  height: 20px;
}

.editor__number{
  color: #34363e;
}

.editor{
  background-color: #666;
}

.editor__code{
  color: #1D1F23;
  height: 360px;

}

.editor__heading{
  color: #aaaebc;
}

.line__breaker{
  width: 100%;
  height: 17px;
  border: 1px solid #000;
  background-color: #333642;
}